@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background: linear-gradient(
    45deg,
    rgba(var(--background-start-rgb), 1) 0%,
    rgba(var(--background-end-rgb), 1) 100%
  );
  background-size: 400% 400%;
  animation: backgroundAnimation 10s ease infinite;
}

.login-page-new {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

nav {
  display: block;
}

.login-page-new__logo {
  position: fixed;
  top: 34px;
  left: 34px;
  z-index: 10;
}

.login-page-new__main-form-options .cu-show-pwd {
  margin-right: 12px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  top: -20px;
}

.cu-show-pwd {
  font-size: 12px;
  font-weight: 500;
  color: #7b68ee;
  text-decoration: none;
  margin-right: 10px;
  -webkit-user-select: none;
  user-select: none;
  right: 0;
  white-space: nowrap;
  border-bottom: 1px dashed transparent;
}

.login-page-new__main-top-divider {
  height: 100px;
  flex-shrink: 0;
}
.header {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.login-page-new__top-right {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.login-page-new__top-right-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #292d34;
  margin-right: 20px;
}

.login-page-new__top-right-button {
  display: flex;
  align-items: center;
  background-color: #7b68ee;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  letter-spacing: 0.4px;
  padding: 0 20px;
  height: 40px;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 10px 25px #7b68ee80;
}
.cu-form__error-icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  margin: 0 5px 0 0;
}
.login-page-new__main-form-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
}
.error-text {
  font-size: 12px;
  font-weight: 500;
  color: #e04f44;
  margin: 2px 0 0;
}

.login-page-new__main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.login-page-new__main-bg {
  position: absolute;
  height: calc(100% - 17vh);
  width: 100%;
  top: 17vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  background: url("/zoundify-frontend/public/login__bg-dots.4777a8eaedc1248b.svg");
  background-size: cover;
}

.login-page-new__main-bg:before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 300%;
  top: -100%;
  left: -50%;
  background: url("/zoundify-frontend/public/login__bg-dots.4777a8eaedc1248b.svg");
  transform: rotate(-28deg);
}
.login-page-new__main-bg:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url("/zoundify-frontend/public/login__bg-dots.4777a8eaedc1248b.svg");
}
.login-page-new__main-container {
  overflow: visible;
  position: relative;
}
.login-page-new__main-form {
  width: 480px;
  background: #fff;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
  padding: 30px 60px;
  position: relative;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.login-page-new__main-form-title-brand {
  width: 100%;
}
.login-page-new__main-form-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  color: #292d34;
  text-align: center;
  margin-bottom: 20px;
}
.login-page-new__main-form-router-outlet {
  width: 100%;
}
.login-page-new__main-form-row {
  --color-error: #e04f44;
  width: 100%;
  position: relative;
  margin-bottom: 26px;
}
.login-page-new__main-form-row-label {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  display: block;
  color: #292d34;
  padding: 0 0 8px 2px;
}

.login-page-new__main-form-row input {
  transition: border-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, roboto,
    Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  border: 1px solid #d6d9de;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 0 20px 0 36px;
  height: 40px;
  color: #2a2e34;
}

.login-page-new__main-form-row-icon {
  position: absolute;
  left: 12px;
  top: 32px;
  width: 20px;
  height: 20px;
  fill: #b9bec7;
}

.login-page-new__main-form-row-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.login-page-new__main-form-button {
  background-color: var(--theme-main-color);
}

button {
  box-shadow: none;
  text-shadow: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.login-page-new__main-form-button {
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-color: #7b68ee;
  height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, roboto,
    Helvetica Neue, helvetica, arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 22px;
}

.login-page-new__main-form-button-text {
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
}
.login-page-new__main-form-google {
  margin: -10px 0 25px;
  display: block;
}
.login-page-new__logo-img {
  width: 115px;
  height: 100px;
  margin-left: 20px;
}

.custom-google-login {
  width: 360px;
  font-weight: 700;
}

.custom-google-login span {
  margin-left: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .custom-google-login {
    width: 100%; /* Adjust width for smaller screens */
  }

  .custom-google-login span {
    margin-left: 10px; /* Adjust margin for smaller screens */
  }
}

/* Mobile Responsive */
@media only screen and (max-width: 768px) {
  .login-page-new__main-form {
    width: 345px;
    margin: 20px 20px 50px;
    padding: 20px;
  }
  .login-page-new__top-right-text {
    font-size: 10px;
    margin-bottom: 35px;
  }
  .logo {
    font-size: 10px;
  }
  .login-page-new__top-right-button {
    margin-bottom: 20px;
    font-size: 10px;
  }
  .login-page-new__top-right {
    position: absolute;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (max-width: 1200px) {
  .login-page-new__top-right {
    position: absolute;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
